= simple_form_for @pin, html: { multipart: true } do |f|
	- if @pin.errors.any?
		#errors
			%h2
				= pluralize(@pin.errors.count, "erros")
				não permitiram o cadastro
			%ul
				- @pin.errors.full_messages.each do |msg|
					%li= msg

	.form-group
		= f.input :image, label: "Foto", input_html: { class: 'form-control' }
	.form-group
		= f.input :title, label: "Nome do produto", input_html: { class: 'form-control' }

	.form-group
		= f.input :description, label: "Descrição", input_html: { class: 'form-control' }
		= f.input :price, label: "Preço", input_html: { class: 'form-control' }
		= f.input :condition, label: 'Condição', collection: [['novo', 'Novo'] ,['semi', 'Semi-novo'],['usado', 'Usado']], as: :radio_buttons, label_method: :last, value_method: :first, checked: @pin.condition,item_wrapper_class: 'inline'		
		= f.input :location, label: "Cidade/Estado", input_html: { class: 'form-control' }
	  = f.button :submit, class: "btn btn-primary"