#pin_show.row
	.panel.panel-default
		.panel-heading.pin_image
			= image_tag @pin.image.url
		.panel-body
			%h2= @pin.title
			%h4.description= @pin.description
			%h4 Preço: R$ #{@pin.price}
			%h4 Condição: #{@pin.condition}
			%h4 Localização: #{@pin.location}

		.panel-footer
			.row
				.col-md-6
					%p.user
					Enviado por
					= @pin.user.email
				.col-md-6
					.btn-group.pull-right
						- if @pin.user.email == @user
							= link_to "Editar", edit_pin_path, class: "btn btn-default"
							= link_to "Deletar", pin_path, method: :delete, data: { confirm: "Certeza?"}, class: "btn btn-default"
	-#							= link_to Like_pin_path(@pin), method: :put, class: "btn btn-default" do
	-#								%span.glyphicon.glyphicon-heart
	-#									= @pin.get_upvotes.size
