<%= form_for :login do |f| %>
  <p>
  	<ul>
  		<li>
    		<%= f.label :username %>
    		<%= f.text_field :username %>		
  		</li>
  		<li>
    		<%= f.label :password %>
    		<%= f.text_field :password %>
  		</li>
  		<li>
  			<%= f.submit :Login%>
  		</li>
  	</ul>
  </p>
<% end %>