!!! 5
%html
%head
	%title MedShare
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%meta{:name => "viewport", :content=> "width=device-width", :initial_scale => 1}
%body
	%nav.navbar.navbar-default
		:javascript
			// When the user scrolls the page, execute myFunction 
			window.onscroll = function() {myFunction()};

			// Get the header
			var header = document.getElementByClassName("nav.navbar.navbar-default);

			// Get the offset position of the navbar
			var sticky = header.offsetTop;

			// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
			function myFunction() {
			  if (window.pageYOffset > sticky) {
			    header.classList.add("sticky");
			  } else {
			    header.classList.remove("sticky");
			  }
			}
		.container
			.navbar-header
				%a.navbar-brand{:href => root_path}
					=image_tag "chair.png"
				.navbar-brand= link_to "MedShare", root_path

				%table
					%tr
						%td
							= simple_form_for(pins_path, method: :get, id:"search", class: "search") do
								= text_field_tag :search, params[:search], placeholder: "Pesquisar"
								= submit_tag 'Search', class:'btn btn-default'	
						%td
							%button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
								%span.sr-only Toggle navigation
								%span.icon-bar
								%span.icon-bar
								%span.icon-bar
							#bs-example-navbar-collapse-1.collapse.navbar-collapse
								- if user_signed_in?
									%ul.nav.navbar-nav.navbar-right
										%li= link_to "Cadastrar item", new_pin_path
										%li= link_to "Conta", edit_user_registration_path
										%li= link_to "Sair", destroy_user_session_path, method: :delete
								- else
									%ul.nav.navbar-nav.navbar-right
										%li= link_to "Registrar", new_user_registration_path
										%li= link_to "Entrar",new_user_session_path
				
	= yield